<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <h1>This is my homepage</h1>

<img src="https://images.unsplash.com/photo-1538091414650-3ecbd5a72d6c?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=73c023fb9142a06bf5382fa1ffdeb0e4&auto=format&fit=crop&w=900&q=60" height="200px" width="350px">


</body>
</html>

